.location {
    text-align: center;
    padding-top: 100px;
}

.subtitle {
    margin-top: 50px;
}

.location__text {
    color: white;
    font-size: 25px;
}

.residents__block {
    text-align: start;
    margin-top: 50px;
}

.residents__slider {
    margin-top: 50px;
    padding-bottom: 50px;
}