.character__card {
    border-radius: 20px;
    display: flex;
    background-color: #1b1a1a;
    a {
        transition: all 0.15s;
        text-decoration: none;
    }
    a:hover {
        color: #02b1c8;
    }
}

.character__card__icon {
    min-width: 254px;
    border-radius: 20px 0 0 20px;
}

.name {
    display: block;
    font-size: 35px;
    color: white;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 225px;
}

.character__card__info {
    padding: 20px;
}

.location__block,
.seen__block {
    margin-top: 15px;
}

.info__text {
    font-weight: 400;
    color: white;
    margin-top: 5px;
}

@media screen and (max-width: 600px) {
    .character__card__icon {
        min-width: 220px;
        width: 220px;
        height: auto;
    }
    .name {
        font-size: 25px;
    }
}

@media screen and (max-width: 430px) {
    .character__card__icon {
        width: 100%;
        border-radius: 10px 10px 0 0;
    }

    .character__card {
        flex-direction: column;
    }
}