.character__bottom {
    padding-top: 50px;
}

.info__text {
    color: #83c041;
    text-decoration: none;
    margin-top: 10px;
    font-weight: 700;
    font-size: 25px;
    width: max-content;
    display: block;
    margin-bottom: 50px;
}