.characters__list {
    padding-top: 60px;
}

.characters__top {
    display: flex;
}

.characters__block {
    margin-top: 20px;
    display: grid;
    gap: 20px;
    grid-auto-flow: dense;
    position: relative;
    grid-template-columns: repeat(2, 50%);
    padding-bottom: 50px;
    padding-right: 20px;
}

@media screen and (max-width: 1220px) {
    .characters__block {
        gap: 10px;
    }
}

@media screen and (max-width: 1135px) {
    .characters__block {
        grid-template-columns: repeat(1, 100%);
        padding-right: 0;
    }
}

@media screen and (max-width: 430px) {
    .characters__block {
        gap: 20px;
    }
    .prev__pagination,
    .next__pagination {
        width: 60px;
    }
    .next__pagination {
        margin-left: 10px;
    }
}