.character__top {
    padding-top: 100px;
    text-align: center;
    div {
        justify-content: center;
    }
}

.image {
    border-radius: 10px;
    box-shadow: 0 10px 10px rgb(26, 25, 25);
}

.name {
    margin-top: 10px;
}